.testmonials {
  height: 360px;

  .content {
    color: $light-font;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    &_i1 {
      margin-bottom: 20px;
      padding: 20px 20px;
      border-radius: 100px;
      border: 1px solid rgb(234, 223, 223);
    }

    &_i2 {
      margin-right: 800px;
    }

    &_i3 {
      margin-left: 800px;
    }

    &_line {
      color: transparent;
      border-bottom: 2px solid $secondry-color;
    }

    p {
      width: 60%;
    }
    h2 {
      margin-top: 10px;
    }
  }
}
