$primary-color: #2d529f;
$secondry-color: #008fe2;
$secondrywhite-color: #3aabdd;
$dark-font: #777777;
$light-font: rgb(241, 241, 241);
$black-color: #1d2127;
$section-gray: #f4f4f4;
$white-color: #ffffff;
$footer-bg: #34383d;

$section-margin: 40px 0;
$main-font: "Open Sans", sans-serif;
$fa-font-path: "../vendors/webfonts";
